.firstScreen {
  height: 100%;
  max-height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: image-set("../../img/first-screen-bg.jpg" 1x, "../../img/first-screen-bg-2x.jpg" 2x); */
  /* background-image: image-set(url(../../img/offer-bg.png) 1x, url(../../img/offer-bg@2x.png) 2x); */
  background-image: url("../../img/first-screen-bg.jpg");
  padding-top: 239px;
  margin-bottom: 200px;
}

.firstScreen__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstScreen__header {
  text-align: center;
  max-width: 834px;
  font-family: var(--accent-font);
  letter-spacing: 0.01em;
  line-height: 1.2;
  color: var(--white);
  margin: 0 0 25px 0;
}

.firstScreen__description {
  text-align: center;
  margin: 0 0 60px 0;
  max-width: 435px;
  font-size: 24px;
  line-height: 1.4;
  color: var(--white);
}

.firstScreen__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
  width: 100%;
}

.firstScreen__inputsGroup {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 25% 25% 25%;
  padding-bottom: 82px;
  width: 100%;
}

.firstScreen__input:not(:last-child) {
  margin-right: 30px;
}
