.map {
  height: 1100px;
  margin-bottom: 200px;
}

.map__inner {
  padding-top: 120px;
}

.map__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map__header {
  max-width: 485px;
  margin-bottom: 80px;
}
