.inputWrapper {
  position: relative;
  margin: 20px;
  border-radius: 4px;
}

.inputWrapper::before {
  content: attr(data-lable);

  display: inline-block;
  position: absolute;

  top: -11px;
  left: 10px;
  height: 9px;

  padding: 2px 10px 0px 10px;

  border-radius: 4px 4px 0 0;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.4);

  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  z-index: 2;
}
