.inputWrapper {
  position: relative;
  /*border-radius: 4px;*/
  /*background: rgba(255, 255, 255, 0.4);*/
  /*border-radius: 4px;*/
  /*background: rgba(255, 255, 255, 0.4);*/
  /*backdrop-filter: blur(9px);*/
  width: 100%;
}

.inputWrapper::before {
  content: attr(data-lable);

  display: inline-block;
  position: absolute;

  top: -13px;
  left: 19px;
  height: 9px;

  padding: 4px 10px 0 10px;

  border-radius: 4px 4px 0 0;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.4);

  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  z-index: 2;
}

@media screen and (max-width: 1700px) {
  .inputWrapper::before {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .inputWrapper::before {
    font-size: 12px;
    top: -9px;
    left: 19px;
    height: 5px;
  }
}